@charset "utf-8";

/* 共通基盤(ベーススタイル) */

/*
CSS カスタムプロパティを使用してよく使う値を定義
https://developer.mozilla.org/ja/docs/Web/CSS/Using_CSS_custom_properties
*/
:root {
	--dark-green: #030;
	--light-green: #608862;
}

a {
	text-decoration: none;
	color: var(--dark-green);
}

ul {
	list-style-type: none;
}

h1, h2, h3 {
	color: var(--dark-green);
}

html {
	background: var(--light-green);
}

body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
	margin: 0 auto;
	width: 1100px;
	height: auto;	/* リセットCSSの height:100% を上書き */
	background-color: #fff;
}

header h1,
header nav,
footer .sitename {
	font-family: 'Noto Serif JP', serif;
}

/* ベーススタイルここまで */

.header__line-1st {
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 16px;
}

.nav {
	display: flex;
}

.nav__item {
	display: flex;
	align-items: center;
	gap: 12px;
}

.nav__link {
	/* a要素にpaddingをもたせることにより、paddingの空間もクリック可能になる */
	padding: 0 16px;
}

/*
MEMO
グローバルナビのアイテム間の縦線をborder-rightにて敷いている。
そのため最後のアイテムだけはborder-rightを敷かないように :not(:last-child) で除外している。
現在のCSSセレクターには「アイテムの間」を示すものがないため、この手法を良く利用する。
（将来においてはズバリ「間」を表現する :gap() のような名前の疑似クラスなどが追加されることを期待したい）
*/
.nav__item:not(:last-child) {
	border-right: 1px solid var(--dark-green);
}

.nav__item--current a {
	text-decoration: underline;
	color: #b27616;
}

.header__key-visual {
	padding: 20px 80px 100px;
	background: url('../images/visual_img_01.jpg');
	color: white;
}

.contents-area {
	margin: 40px 40px;
	display: flex;
	gap: 20px;
}

.contents-area__contents {
	margin-left: 50px;
	margin-bottom: 20px;
}

.contents__header {
	margin-left: -50px;
	margin-bottom: 10px;
	padding-left: 48px;
}

.contents__heading {
	margin-left: -50px;
	padding-left: 50px;
	background: url('../images/h2_img.png') no-repeat 0 5px;
	display: flex;
	align-items: center;
}

.tea-images {
	display: flex;
	margin-bottom: 20px;
}

.contents__layout-columns {
	display: flex;
	gap: 20px;
}

.contents__layout-col1 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contents__layout-col2 {
	flex: 260px 0 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contents__refer {
	margin-top: 40px;
}

.contents__info {
	padding: 20px 20px;
}

.info {
	border: 1px solid var(--dark-green);
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 90px;
	overflow: auto;

}

.info__item {
	border-bottom: 1px dashed var(--dark-green);
	display: flex;
}

.contents-area__aside {
	margin-top: 45px;
	flex: 180px 0 0;
}

.aside {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer {
	padding: 20px 40px;
	background: var(--dark-green);
	color: white;
}

.footer__line-1st {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

.footer__sitename {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 24px;
	font-weight: bold;
}

.footer__nav {
	display: flex;
	gap: 16px;
}

.footer__nav_a {
	color: white;
}

.footer__address {
	margin: 20px 50px;
	font-style: normal;
}

.footer__tel {
	display: flex;
	align-items: center;
	gap: 6px;
}

.footer__copyright {
	border-top: 1px solid white;
	text-align: center;
	font-size: 24px;
}

/*----- tool.html -----*/

.header__key-visual--tool {
	background: url('../images/visual_img_02.jpg');
}

.contents__header--tool {
	margin-bottom: 32px;
}

.card-tool__heading {
	margin-left: -20px;
	padding-left: 20px;
	background: url('../images/h3_img.gif') no-repeat 0 4px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.card-tool__desctiption {
	margin: 20px 0;
	display: flex;
	gap: 20px;
}

.card-tool__image {
	box-sizing: content-box;	/* reset.css の box-sizing: border-box; を上書き */
	padding: 20px;
	padding-bottom: 40px;
	border: 1px solid black;
	box-shadow: 2px 2px 3px gray;
}

/*----- catalog.html -----*/

.header__key-visual--catalog {
	background: url('../images/visual_img_03.jpg');
}

.showcase {
	display: flex;
	gap: 40px 10px;
	flex-wrap: wrap;
}

.card-catalog {
	flex: 230px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*
MEMO
:nth-child(3) は改行位置を示す
現在のCSSのセレクターにずばり改行位置にマッチするセレクターがないため、人間が数を数えて :nth-child(3) と指定するしかない
この方法では、レスポンシブ時に改行位置が代わるのに自動的に応じることができない泥臭いコーディングとなってしまう
（将来においては :wrap() などの名前で改行位置を表す疑似クラスが登場することを期待したい）
*/
.card-catalog:not(:nth-child(3)) {
	border-right: 1px solid #ddd;
}

.card-catalog__heading {
	width: 100%;
	text-align: center;
	background: var(--light-green);
	color: white;
}

.contents__refer--catalog {
	margin-top: 40px;
}

/*----- common.html -----*/

.header__key-visual--common {
	background: url('../images/visual_img_04.jpg');
}

.desctiption__header {
	margin-left: -20px;
	padding-left: 20px;
	background: url('../images/h3_img.gif') no-repeat 0 4px;
	display: flex;
	align-items: center;
}

.desctiption__keyword {
	color: var(--dark-green);
	font-size: 20px;
	border-bottom: 2px dotted var(--dark-green);
}

.desctiption__desctiption {
	margin-bottom: 20px;
}

.back-to-top {
	margin-bottom: 20px;
	text-align: right;
}

.back-to-top__a {
	color: royalblue;
}

/*----- contact.html -----*/

.header__key-visual--contact {
	background: url('../images/visual_img_05.jpg');
}

.contact {
	border: 1px solid var(--dark-green);
}

.contact-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.contact__keyword {
	padding: 8px;
	height: 100%;
	border-bottom: 1px solid white;
	background: var(--light-green);
	color: white;
	/* 縦方向に中央寄せするために、flex を使用 */
	display: flex;
	align-items: center;
	justify-content: end;
}

.contact__keyword--last {
	/* 最後尾のdtのみ色を変える */
	border-bottom: 1px solid var(--dark-green);
}

.contact__contents {
	padding: 8px 16px;
	border-bottom: 1px solid var(--dark-green);
}

.contact__contents .email-line-1st {
	margin-bottom: 8px;
}

.contact__text,
.contact__email {
	width: 400px;
}

.contact__textarea {
	width: 400px;
}

.re-entry {
	margin-left: 16px;
	color: red;
	font-weight: normal;
}

.contact__list {
	padding: 0;
	display: flex;
	gap: 24px;
}

.contact__form-functions {
	padding: 16px;
	text-align: center;
}

.contact__form-functions input[type=submit],
.contact__form-functions input[type=reset] {
	padding: 4px 32px;
}

.green-tea-plantation {
	flex: 180px 0 0;
	height: auto;
	background: url('../images/aside_bg.jpg');
	background-size: cover;
}
