@charset "utf-8";

/* 共通基盤(ベーススタイル) */

/*
CSS カスタムプロパティを使用してよく使う値を定義
https://developer.mozilla.org/ja/docs/Web/CSS/Using_CSS_custom_properties
*/
:root {
	--dark-green: #030;
	--light-green: #608862;
}

a {
	text-decoration: none;
	color: var(--dark-green);
}

a.current {
	text-decoration: underline;
	color: #b27616;
}

ul {
	list-style-type: none;
}

h1, h2, h3 {
	color: var(--dark-green);
}

html {
	background: var(--light-green);
}

body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
	margin: 0 auto;
	width: 1100px;
	height: auto;	/* TODO リセットCSSの設定値、 height:100% をリセットしなければ背景色が画面の高さでとどまってしまう。このリセットCSSは使いにくいかも...?まあ、トラブルシューティングの練習になるし、最悪は div.wrapper でくるめばよいからこのままでもイキかな. */
	background-color: #fff;
}

header h1,
header nav,
footer .sitename {
	font-family: 'Noto Serif JP', serif;
}

/* ベーススタイルここまで */

header .line-1st {
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .line-1st h1 {
	display: flex;
	align-items: center;
	gap: 16px;
}

header .line-1st ul {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}

.line-1st nav li {
	display: flex;
	align-items: center;
	gap: 12px;
}

.line-1st nav .vertical-rule {
	margin-top: 3px;
	width: 1px;
	height: 20px;
	border-left: 1px solid var(--dark-green);
}

header .key-visual {
	padding: 20px 80px 100px;
	background: url('../images/visual_img_01.jpg');
	color: white;
}

.main-layout-col2 {
	margin: 40px 40px;
	display: flex;
	gap: 20px;
}

main > section {
	margin-left: 50px;
	margin-bottom: 20px;
}

main h2 {
	margin-left: -50px;
	padding-left: 50px;
	margin-bottom: 10px;
	background: url('../images/h2_img.png') no-repeat 0 5px;
	display: flex;
	align-items: center;
}

main .tea-images {
	display: flex;
	margin-bottom: 20px;
}

main section .layout-col2 {
	display: flex;
	gap: 20px;
}

main section .layout-col2 .col1 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

main section .layout-col2 figure {
	flex: 260px 0 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

main section .layout-col2 .refer {
	margin-top: 40px;
}

main dl.info {
	border: 1px solid var(--dark-green);
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

main dl.info div {
	border-bottom: 1px dashed var(--dark-green);
	display: flex;
}

aside {
	flex: 180px 0 0;
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

footer {
	padding: 20px 40px;
	background: var(--dark-green);
	color: white;
}

footer .line-1st {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

footer .sitename {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 24px;
	font-weight: bold;
}

footer .line-1st ul {
	display: flex;
	gap: 16px;
}

footer .line-1st ul a {
	color: white;
}

footer address {
	margin: 20px 50px;
	font-style: normal;
}

footer .tel {
	display: flex;
	align-items: center;
	gap: 6px;
}

footer .copyright {
	border-top: 1px solid white;
	text-align: center;
	font-size: 24px;
}

/*----- tool.html -----*/

header .key-visual.tool {
	background: url('../images/visual_img_02.jpg');
}

main header {
	margin-bottom: 32px;
}

.card-tool h3 {
	margin-left: -20px;
	padding-left: 20px;
	background: url('../images/h3_img.gif') no-repeat 0 4px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.card-tool p {
	margin: 20px 0;
	display: flex;
	gap: 20px;
}

.card-tool p img {
	box-sizing: content-box;	/* reset.css の box-sizing: border-box; を上書き */
	padding: 20px;
	padding-bottom: 40px;
	border: 1px solid black;
	box-shadow: 2px 2px 3px gray;
}

/*----- catalog.html -----*/

header .key-visual.catalog {
	background: url('../images/visual_img_03.jpg');
}

.showcase {
	display: flex;
	gap: 40px 10px;
	flex-wrap: wrap;
}

.showcase .vertical-rule {
	width: 1px;
	height: 450px;
	border-left: 1px solid #ddd;
}

.card-catalog {
	flex: 230px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-catalog h3 {
	width: 100%;
	text-align: center;
	background: var(--light-green);
	color: white;
}

.refer-catalog {
	margin-top: 40px;
}

/*----- common.html -----*/

header .key-visual.common {
	background: url('../images/visual_img_04.jpg');
}

.common h3 {
	margin-left: -20px;
	padding-left: 20px;
	background: url('../images/h3_img.gif') no-repeat 0 4px;
	display: flex;
	align-items: center;
}

.common dt {
	color: var(--dark-green);
	font-size: 20px;
	border-bottom: 2px dotted var(--dark-green);
}

.common dd {
	margin-bottom: 20px;
}

.back-to-top {
	margin-bottom: 20px;
	text-align: right;
}

.back-to-top a {
	color: royalblue;
}

/*----- contact.html -----*/

header .key-visual.contact {
	background: url('../images/visual_img_05.jpg');
}

.contact form {
	border: 1px solid var(--dark-green);
}

.contact  dl {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.contact dl dt {
	padding: 8px;
	height: 100%;
	border-bottom: 1px solid white;
	background: var(--light-green);
	color: white;
	/* 縦方向に中央寄せするために、flex を使用 */
	display: flex;
	align-items: center;
	justify-content: end;
}

.contact dl dt:nth-child(13) {
	/* 最後尾のdtのみ色を変える */
	border-bottom: 1px solid var(--dark-green);
}

.contact dl dd {
	padding: 8px 16px;
	border-bottom: 1px solid var(--dark-green);
}

.contact dl dd .email-line-1st {
	margin-bottom: 8px;
}

.contact input[type=text],
.contact input[type=email] {
	width: 400px;
}

.contact textarea {
	width: 400px;
}

.contact .re-entry {
	margin-left: 16px;
	color: red;
	font-weight: normal;
}

.contact ul {
	padding: 0;
	display: flex;
	gap: 24px;
}

.contact .form-functions {
	padding: 16px;
	text-align: center;
}

.contact .form-functions input[type=submit],
.contact .form-functions input[type=reset] {
	padding: 4px 32px;
}

aside.green-tea-plantation {
	width: 244px;
	height: auto;
	background: url('../images/aside_bg.jpg');
	background-size: cover;
}

